<admin-directive>

    <div class="row text-center">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
            <h2><strong>Új jelszó kérése </strong></h2>
        </div>
    </div>

    <div class="row pad-top-botm">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
            <form>
                <div class="form-group">
                    <input type="password" ng-show="!state.newPass" ng-model="credentials.oldpassword" class="form-control" placeholder="Régi jelszó" 
                        />
                </div>
                <div class="form-group">
                    <input type="password" ng-show="!state.newPass" ng-model="credentials.newpassword" class="form-control" placeholder="Új jelszó"
                        />
                </div>

                <div class="form-group">
                    <input type="password" ng-show="!state.newPass" ng-model="credentials.newpasswordagain" class="form-control" placeholder="Új jelszó mégegyszer" 
                        />
                </div>
                
                <div class="form-group">
                    <div class="form-control loginError" ng-show="error"><label class="loginError">{{errorMessage}}</label></div>
                </div>
                <div class="form-group">
                    <div class="form-control loginSuccess" ng-show="success"><label class="loginSuccess">{{message}}</label></div>
                </div>
                
                <div class="form-group">
                    <button class="btn btn-success btn-block btn-lg pull-right" ng-click="doChange();">Jelszó változtatása</button>
                </div>
            </form>
        </div>
    </div>




</admin-directive>